{
  "name": "releasetwo",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "bilder/grandcanyon.jpg",
      "configJson": "{\"autoCompile\":false,\"forceCompile\":false,\"customOutput\":\"\",\"compiler-jpg\":{\"enabled\":true,\"originalSize\":178920,\"newSize\":195476}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "/",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "host": "195.74.38.22",
      "port": 21,
      "user": "219301_master",
      "password": "Sigvard12"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "index.php",
        "ctime": "2017-01-29T11:55:05.280Z",
        "mtime": "2017-01-29T11:55:05.280Z",
        "size": 1107
      },
      {
        "file": "startsida.php",
        "ctime": "2017-01-22T13:06:51.179Z",
        "mtime": "2017-01-22T13:06:51.179Z",
        "size": 1580
      },
      {
        "file": "bilder/grandcanyon.jpg",
        "ctime": "2017-01-20T14:50:13.676Z",
        "mtime": "2017-01-20T14:50:13.676Z",
        "size": 195476
      },
      {
        "file": "footer.inc.php",
        "ctime": "2017-01-20T15:20:01.124Z",
        "mtime": "2017-01-20T15:20:01.124Z",
        "size": 796
      },
      {
        "file": "bilder/email.png",
        "ctime": "2017-01-20T15:13:22.983Z",
        "mtime": "2017-01-20T15:13:04.080Z",
        "size": 2267
      },
      {
        "file": "style.css",
        "ctime": "2017-01-29T14:34:15.878Z",
        "mtime": "2017-01-29T14:34:15.878Z",
        "size": 5987
      },
      {
        "file": "easteregg.js",
        "ctime": "2017-01-22T11:49:14.149Z",
        "mtime": "2017-01-22T11:49:14.149Z",
        "size": 259
      },
      {
        "file": "hangman.html",
        "ctime": "2017-01-21T20:25:17.573Z",
        "mtime": "2017-01-21T20:25:17.573Z",
        "size": 678
      },
      {
        "file": "cv.js",
        "ctime": "2017-01-23T19:47:44.453Z",
        "mtime": "2017-01-23T19:47:44.453Z",
        "size": 82
      },
      {
        "file": "hangman.php",
        "ctime": "2017-01-29T11:52:36.168Z",
        "mtime": "2017-01-29T11:52:36.168Z",
        "size": 517
      },
      {
        "file": "hangman.js",
        "ctime": "2017-01-23T14:48:22.003Z",
        "mtime": "2017-01-23T14:48:22.003Z",
        "size": 1969
      },
      {
        "file": "nav.inc.php",
        "ctime": "2017-01-23T20:01:40.999Z",
        "mtime": "2017-01-23T20:01:40.999Z",
        "size": 1280
      },
      {
        "file": "Javascript/changetext.js",
        "ctime": "2017-01-23T19:46:42.052Z",
        "mtime": "2017-01-23T19:46:42.052Z",
        "size": 331
      },
      {
        "file": "cv.php",
        "ctime": "2017-01-23T19:48:11.844Z",
        "mtime": "2017-01-23T19:48:11.844Z",
        "size": 2653
      },
      {
        "file": "Javascript/cv.js",
        "ctime": "2017-01-23T19:48:31.797Z",
        "mtime": "2017-01-23T19:48:31.797Z",
        "size": 82
      },
      {
        "file": "Javascript/easteregg.js",
        "ctime": "2017-01-29T11:34:21.932Z",
        "mtime": "2017-01-29T11:34:21.932Z",
        "size": 431
      },
      {
        "file": "Javascript/hangman.js",
        "ctime": "2017-01-29T11:43:54.125Z",
        "mtime": "2017-01-29T11:43:54.125Z",
        "size": 2376
      },
      {
        "file": "Javascript/index.js",
        "ctime": "2017-01-29T11:47:35.433Z",
        "mtime": "2017-01-29T11:47:35.433Z",
        "size": 608
      },
      {
        "file": "resume.php",
        "ctime": "2017-01-29T14:23:26.275Z",
        "mtime": "2017-01-29T14:23:26.275Z",
        "size": 2819
      },
      {
        "file": "nav.php",
        "ctime": "2017-01-29T14:20:44.704Z",
        "mtime": "2017-01-29T14:20:44.704Z",
        "size": 1162
      },
      {
        "file": "aboutme.php",
        "ctime": "2017-01-28T20:09:47.530Z",
        "mtime": "2017-01-28T20:09:47.530Z",
        "size": 876
      },
      {
        "file": "footer.php",
        "ctime": "2017-01-28T20:10:43.084Z",
        "mtime": "2017-01-28T20:10:43.084Z",
        "size": 530
      },
      {
        "file": "message.php",
        "ctime": "2017-01-29T14:11:16.235Z",
        "mtime": "2017-01-29T14:11:16.235Z",
        "size": 1291
      },
      {
        "file": "login.php",
        "ctime": "2017-01-29T11:59:53.760Z",
        "mtime": "2017-01-29T11:59:53.760Z",
        "size": 1005
      },
      {
        "file": "savetext.php",
        "ctime": "2017-01-25T10:51:40.287Z",
        "mtime": "2017-01-25T10:51:40.287Z",
        "size": 313
      },
      {
        "file": "frontpage.php",
        "ctime": "2017-01-29T15:12:27.965Z",
        "mtime": "2017-01-29T15:12:27.965Z",
        "size": 1198
      },
      {
        "file": "portfolio.php",
        "ctime": "2017-01-29T14:21:51.180Z",
        "mtime": "2017-01-29T14:21:51.180Z",
        "size": 675
      },
      {
        "file": "header.inc/header.frontpage.php",
        "ctime": "2017-01-25T11:57:23.032Z",
        "mtime": "2017-01-25T11:57:23.032Z",
        "size": 243
      },
      {
        "file": "includes/header.php",
        "ctime": "2017-01-25T12:38:43.201Z",
        "mtime": "2017-01-25T12:38:43.201Z",
        "size": 243
      },
      {
        "file": "logout.php",
        "ctime": "2017-01-29T12:00:03.814Z",
        "mtime": "2017-01-29T12:00:03.814Z",
        "size": 91
      },
      {
        "file": "Javascript/resume.js",
        "ctime": "2017-01-29T15:17:41.180Z",
        "mtime": "2017-01-29T15:17:41.180Z",
        "size": 156
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}